.deck-discard {
  margin: 25px;
  min-height: 120px;
  background-color: #333333;
  top: 50%;
}

.deck-hand {
  margin: 25px;
  min-height: 156px;
  background-color: #333333;
  top: 50%;
}

.deck-card {
}

.button {
  margin-left: 25px
}

.selected {
  color: white;
  background-color: #5A6368;
  border-color: #5A6368;
  transform: scale(1.1);
}

.alert {
  display: inline-block;
}

.action-buttons {
  display: block;
}

.flash-message {
  margin-top: 15px;
}
